*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* body{
 height: 1000vh;
} */
:root{

    --maineColer-- : #32284a;
    --scondColer-- : #57DCDC;
    --titelColer-- : #9E9AA7;
    --mainTitelColer-- : #35323E;
    --trantion-- : .3s

}
.container{ 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screen */
@media (min-width : 768px) {
    .container{
        width: 750px;
    }  
}
/* Medium Screen */
@media (min-width : 992px) {
    .container{
        width: 970px;
       
    }

}
/* Large Screen */
@media (min-width : 1200px) {
    .container{
        width: 1170px;
    }
    
}

/* Let us start =)*/ 

/* START NAV */

 .nav .container{
    display: flex;
    align-items: center;
    padding: 15px 15px;
}


.nav-right{
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex: 1 1 auto;
}
@media (max-width : 768px) {
    .nav-right{
        display: none;
    }
   
}
.nav-right .unorder {
    display: flex;
  
 }
 
 .nav-right .login {
    display: flex;

 }
.nav-right .unorder ul{
   display: flex;
   list-style: none; 
   justify-content: space-around;
    margin-left: 25px;
}

.nav-right .unorder ul li{
    margin-left: 15px;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--titelColer--);
 
}
.nav-right .unorder ul li:hover{
    transition: var(--trantion--);
    color: var(--mainTitelColer--);
    cursor: pointer;
}



 .but { 

    margin-left: 10px;
    padding: 10px 30px;
    border: none;
    color: var(--titelColer--);
    border-radius: 20px;
    cursor: pointer;
    background: none;
    font-weight: 600; 
    text-transform: capitalize;
}

 .but2 {
    background-color: var(--scondColer--);
    color: #fff;
}

 .but2:hover {
    background-color: #89e6e6;
    transition: var(--trantion--);
}

.nav-burger i { 

    color: var(--mainTitelColer--); 
    font-size: 22px;
    color: var(--titelColer--);
    cursor: pointer;
}
.nav-burger { 
display: flex;
justify-content: flex-end;
display: none;
flex: 1 1 auto;
position: relative;

}

.nav-burger i { 

    color: var(--mainTitelColer--); 
    font-size: 22px;
    color: var(--titelColer--);
    cursor: pointer;
    z-index: 2;
}

.container .phone-mune{ 
    position: absolute;
    top: -375px;
    right: 0px;
    width: 100%;
    height: 350px;
    padding: 15px ;
    background-color: var(--maineColer--);
    text-align: center;
    transition: .5s;
}

.container .phone-mune ul { 
    list-style: none;
}
.container .phone-mune a { 
    display: block;
    margin: auto;
    text-align: center;
    padding: 13px 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
    text-transform: capitalize;
    margin-bottom: 4px;
    font-weight: 700;
    width: 80%;
}
.container .phone-mune a:hover { 
    color:var(--scondColer--) ;
}
.container .phone-mune li:last-child a { 
    border-bottom: 1px solid var(--titelColer--);
    margin-bottom: 20px;
}
.container .phone-mune .but {
    display: block;
    width: 100%;
    margin: auto;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
}
@media (max-width : 768px) {
    .nav-burger{
        display: flex;
    }
}
/* END NAV */
/* STAT SECTION WITH BIG IMGES  */

.intro .container{ 
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 70vh;
} 

@media (max-width : 770px) { 
    .intro .container{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 90vh;
    }
}



.big-titel { 
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
}

.big-titel h1{ 

    color: var(--mainTitelColer--);
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 900;
    font-size: 50px;
    max-width: 500px;
}
@media (max-width : 992px){

    .big-titel h1{ 
     font-size: 45px;
 }
}

.big-titel p{ 

    color:var(--titelColer--);
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 16px;
    max-width: 500px;
}
@media (max-width : 992px){

    .big-titel p{ 
     font-size: 16px;
     font-weight: 600;
     line-height: 1.8;
 }
}
@media (max-width : 700px){

    .big-titel p{ 
        font-size: 16px;
        font-weight: 600;
        line-height: 1.8;
        width: 350px;
        margin:20px auto;
    }
}




.big-titel .but2 {

    max-width: 200px;
    padding: 20px;
    font-size: 19px;
    margin: 0;
}


@media (max-width : 992px){

    .big-titel .but2{ 
        padding: 15px;
 }
}

@media (max-width : 770px){

    .big-titel .but2{ 
    margin: 0px auto;
    font-size: 16px;
    padding: 15px 17px;
 }
}


.big-imge{ 
    width: 550px;
    height: 350px;
    flex-shrink: 2;
}

.big-imge img { 
    width: 100%;
    height: 100%;
}

@media (max-width : 992px){

    .big-imge{ 
        width: 500px;
        height: 300px;
        flex-shrink: 2;

    }

    .big-imge img { 
        width: 100%;
        height: 100%;
    }
}


@media (max-width : 700px){

    .big-imge{ 
        width: 400px;
        height: 300px;
        margin-bottom: 10px;
    }
}

@media (max-width : 420px){


    .big-titel { 
        width: 100%;
     }
    .big-titel h1{ 
        font-size: 40px;
        width: 100%;
        margin: 30px auto 16px;
 }
   
 .big-titel p { 
    font-size: 13px;
    font-weight: 600;
    line-height: 1.8;
    width: 100%;
    margin: 5px auto;
 }
    .big-imge{ 
        width: 350px;
        height: 250px;
        margin-bottom: 10px;
    }

  

    .big-titel .word{ 
        width: 100%;
    }

}
/* END SECTION WITH BIG IMGES  */

/* START INUPT */
.input{ 

    margin-top: 100px;
}
.input .container{ 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
   background-image: (images/1223.svg);
   position: relative;
   background-color: var(--maineColer--);

}
.input .container img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 1;
}

.input .container #text {
    width: 850px;
    padding: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
    z-index: 1;
    flex-shrink: 2;
}
.input .container .but2 { 
    z-index: 1;
    width: 250px;
    padding: 16px;
    border-radius: 10px;
    font-size: 20px;
}
@media (max-width : 770px){

    .input .container{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5px 10px;
    }
    .input .container #text,.input .container .but2 {
        width: 100%;
    }

    .input .container .but2{
        margin: 0;
    }
    .input{ 
    padding:0px 15px;
    }
}
/* END INUPT */

/* SATRT AD STATISTICS  */


.Statistics { 

    height: fit-content;
    background :#f5f5f5;
    padding-top: 20px;
    margin-top: -75px;
}


.Statistics .topic{ 

    padding: 15px;
    margin: 150px auto 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Statistics .topic h1{ 

    font-size: 37px;
    color: var(--mainTitelColer--);
    font-weight: 800;
}


.Statistics .topic p{ 

    font-size: 16px;
    font-weight: 500;
    width: 400px;
    line-height: 1.4;
    color: var(--titelColer--);
}


.cont-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    height: 55vh;
}

.cont-cards .card{

    padding: 0px 25px;
    width: 350px;
    height: fit-content;
    padding-bottom: 15px;
    background: #ffffff;
    border-radius: 8px;
    z-index: 1;
}
.cont-cards .card1{
    align-self: flex-start;
    position: relative;
}
.cont-cards .card1::after, .cont-cards .card2::after {

    content: "";
    width: 36px;
    height: 10px;
    background-color: var(--scondColer--);
    position: absolute;
    right: -34px;
    top: 50%;

}
.cont-cards .card2{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.cont-cards .card3{

    align-self: flex-end;
}

.cont-cards .card .photo{

    background-color: var(--maineColer--);
    width: fit-content;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin: -30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cont-cards .card .explan h3{

    margin: 15px 0px;
    font-weight: 600;
    color: var(--mainTitelColer--);
}

.cont-cards .card .explan p{
    font-weight: 500;
    line-height: 1.6;
    font-size: 16px;
    color: var(--titelColer--)
}




@media (max-width : 770px){ 
    .Statistics{
        height: fit-content;
        padding-bottom: 15px;
    }
    .cont-cards {
      
        flex-direction: column;
        padding: 0;
        height: 130vh;

    }

    .Statistics .topic p{ 
        width: 350px;
    }

    
    .cont-cards .card{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
    }

    .cont-cards .card .photo{
        margin: -30px 0px 10px;
    }


    .cont-cards .card1, .cont-cards .card3{
        align-self: center;
    }

    .cont-cards .card2{
    margin-left: 0px;
    margin-right: 0px;

    }

    .cont-cards .card1::after, .cont-cards .card2::after {

        display: none;
    }
    
}
/* END AD STATISTICS  */


/* START TODAY */

.today{ 
    position: relative;
    background-color: var(--maineColer--);
    z-index: 1;
    margin-top: 0px;
    height: 35vh;  
}


.today img{ 
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
}
.today .container{ 
    height: 100%;
}
.today .big-titel {
  
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today .container h1{
    color: #ffffff;
    font-size: 32px;
  
}
.today .container h1 , .today .container button {
    width: 350px;
}

@media (max-width : 400px){


    .today .container h1 {
        font-size: 28px;
    }

    .today .container h1 {
        width: 300px;
    }
    .today .container button {
        margin: 0;;
    }
}


/* END TODAY */
.footer { 
    background: var(--mainTitelColer--);
    color: #ffffff;
    height: 45vh;
    padding-top: 80px;
}
.footer .container { 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
}

.footer .container .logo-img{
    flex: 1 1 auto;
}
.footer .container .info{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex: 4 1 auto;
}

.footer .container .info .col-info h3{ 
    margin-bottom: 30px;
}
.footer .container .info .col-info ul{
    list-style: none;
}
.footer .container .info .col-info ul li a { 
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
}
.footer .container .info .col-info ul li a:hover ,.footer .container .midia i:hover{
    color: var(--scondColer--)
}

.footer .container .midia { 
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
}

.footer .container .midia i{ 
    color: #ffffff;
    font-size: 30px;
  cursor: pointer;
}







 @media (max-width : 770px){ 

    .footer { 
        height: fit-content;
        padding-bottom: 50px;
    }

    .footer .container { 
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.footer .container .info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.footer .container .info .col-info h3{ 
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

.footer .container .info .col-info ul li a { 
 text-align: center;
}



.footer .container .midia { 
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

} 

.me { 
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--mainTitelColer--);
    color: var(--scondColer--);
    padding: 7px;
}

.me i{ 
    color: var(--scondColer--);
    margin-right: 5px;
}


